<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jorgegiance.folks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_widget"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true">


        <receiver android:name=".ui.widget.TopStoriesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/top_stories_widget_info" />
        </receiver>

        <activity
            android:name=".ui.activities.DetailHomeActivity"
            android:theme="@style/FolksThemeWhite" />
        <activity
            android:name=".ui.activities.UserActivity"
            android:theme="@style/FolksThemeDark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/FolksThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PeopleActivity"
            android:theme="@style/FolksThemeDark" />
        <activity
            android:name=".ui.activities.MemberDescriptionActivity"
            android:theme="@style/FolksThemeDark"/>
    </application>

</manifest>